.message-card {
  margin: 6px 0;
  padding: 12px 16px;
}

.message-card .message-text {
  width: 75%;
}

.message-card .clear-message {
  width: 20%;
}

.message-card .clear-message button {
  padding: 8px 12px;
  background-color: hsla(0, 0%, 80%, 0.2);
  border: none;
  box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.05);
}

.error-message {
  background-color: #f56236;
}

.warning-message {
  background-color: #fce788;
}

.info-message {
  background-color: #88fca3;
}
